<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705403832589-tes4uh45n1dqll2sdud4lrjl4gns2lg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705403832589-tes4uh45n1dqll2sdud4lrjl4gns2lg2</string>
	<key>API_KEY</key>
	<string>AIzaSyAYCy41eEuGwoASqTJLSNY4hJDJ6FDYO5c</string>
	<key>GCM_SENDER_ID</key>
	<string>705403832589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roda.gymroutines</string>
	<key>PROJECT_ID</key>
	<string>gymroutines-85165</string>
	<key>STORAGE_BUCKET</key>
	<string>gymroutines-85165.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705403832589:ios:5929d142e548a8a2468844</string>
</dict>
</plist>